# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*   # ignore all env variants like .env.production, .env.local

# OS-specific
.DS_Store
Thumbs.db

# Vite cache
.vite/

# IDE-specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: macOS system files
*.DS_Store

# Optional: Windows system files
ehthumbs.db
Icon?
